# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/

# Virtual environments
venv/
.env/
.envrc
.venv/

# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints


# ==============================
# Logs
# ==============================
logs/
*.log

# ==============================
# DVC
# ==============================
.dvc/cache/
.dvc/tmp/

# ==============================
# MLflow
# ==============================
mlruns/

# ==============================
# Docker
# ==============================
*.pid
*.sock

# ==============================
# IDE
# ==============================
.vscode/
.idea/

# ==============================
# OS
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Environment variables
# ==============================
.env
.env.*

# ==============================
# Testing
# ==============================
.coverage
htmlcov/
.pytest_cache/

# ==============================
# Temporary files
# ==============================
tmp/
temp/